
body.active-modal {
    overflow-y: hidden;
  }
  
  .modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 5;
  }
  
  .overlay {
    background: rgba(49,49,49,0.8);
  }

  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 10px;
    max-width: 600px;
    min-width: 300px;
    z-index: 10;
  }

  .modal-content .rep-cont {
    display: flex;
    border-radius: 50%
  }

  .modal-content .rep-cont h3 {
    margin-left: 10px;
    margin-top: 7px;
  }

  .modal-content .rep-cont .rep-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgb(187, 185, 185);
  }

  .close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
    background-color: #F17E6C;
    cursor: pointer;
    border-radius: 8px;
  }
  
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
